<div class="d-flex justify-content-end gap-2 mb-2">
    <a href="/static2/{{ src }}" target="_blank" rel="noopener" class="btn btn-sm btn-outline-primary"><i class="fa fa-arrow-up-right-from-square me-1" aria-hidden="true"></i>Open in new tab</a>
    <a href="/static2/{{ src }}" download class="btn btn-sm btn-primary"><i class="fa fa-download me-1" aria-hidden="true"></i>Download</a>
</div>
<iframe src="/static2/{{ src }}" title="{{ name }} report" class="w-100 border rounded" style="height: 80vh;" loading="lazy"></iframe>
