
{% extends 'main/base.html' %}
{% block title %}Home | RiboSeq.Org{% endblock %}
{% block content %}
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="..." crossorigin="anonymous">

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f8f9fa; /* Bootstrap light background color */
        }

        .container {
            padding: 20px;
        }

        .card {
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card-body a {
            text-decoration: none;
            transition: color 0.3s;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src='../static/images/favicon.png' height="50" alt="RiboSeq.org Logo" loading="lazy"/>
                        <h1>Ribo-Seq Data Portal</h1>
                        <p>Search Curated Metadata and Access Thousands of Processed Ribo-Seq Datasets</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Samples</h2>
                        <p>Explore our collection of samples.</p>
                        <a href="/samples" class="btn btn-primary">View Samples</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Studies</h2>
                        <p>Discover our research studies.</p>
                        <a href="/studies" class="btn btn-primary">Explore Studies</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Resources</h2>
                        <ul>
                            <li><a href="https://gwips.ucc.ie">GWIPS-viz</a></li>
                            <li><a href="https://trips.ucc.ie">Trips-Viz</a></li>
                            <li><a href="https://ribocrypt.org">RiboCrypt</a></li>
                            <li><a href="https://ribogalaxy.genomicsdatascience.ie">RiboGalaxy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2>About</h2>
                        <p>Learn more about our organization.</p>
                        <a href="/about" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <a href="https://forms.gle/K1HPrcWkgZAvo33M9" class="btn btn-primary">Provide Feedback</a>
                        <a href="{% url 'search' %}" class="btn btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}