{% extends 'main/base.html' %}
{% block title %}Home | RiboSeq.Org{% endblock %}
{% block head %}
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="..." crossorigin="anonymous">

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row py-4">
            <div class="col-md-12 text-center">
                <img src='../static/images/favicon.png' height="50" alt="RiboSeq.org Logo" loading="lazy"/>
                <h1>Ribo-Seq Data Portal</h1>
                <h5>Search Curated Metadata and Access Thousands of Processed Ribo-Seq Datasets</h5>
        
                <div class="d-flex justify-content-center">
                    <form method="GET" action="{% url 'search' %}" id="results-searchbar" class="form-inline" style="width: 60%;">
                        {% csrf_token %}
                        {{ search_form.as_p }}
                        <button class="btn btn-outline-primary" type="submit" id="search-button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="row py-2">
            <div class="col-md-6 py-2">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <h2>Samples</h2>
                        <p>Explore Ribo-Seq at Sample Level</p>
                        <a href="/samples" class="btn btn-primary">View Samples</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-2">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <h2>Studies</h2>
                        <p>Explore Ribo-Seq at Study Level</p>
                        <a href="/studies" class="btn btn-primary">Explore Studies</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-9 mx-auto text-center">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <h2>About</h2>
                        <p>Learn more about our initiative.</p>
                        <a href="/about" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
