{% extends 'main/base.html' %}
{% block title %}RiboSeq.Org{% endblock %}
{% load static %}

{% block content %}
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    {% include 'main/navbar.html' %}
    <div>
    <section id="links">
        <div class="fw-container">
            <div class="fw-header">
                <h1>Links</h1>
            </div>
            <div class="fw-body">
                <div class="content">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="download-tab" data-bs-toggle="tab" data-bs-target="#download" type="button" role="tab" aria-controls="download" aria-selected="true">Download</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="GWIPS-viz-tab" data-bs-toggle="tab" data-bs-target="#GWIPS-viz" type="button" role="tab" aria-controls="GWIPS-viz" aria-selected="false">GWIPS-viz</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="Trips-Viz-tab" data-bs-toggle="tab" data-bs-target="#Trips-Viz" type="button" role="tab" aria-controls="Trips-Viz" aria-selected="false">Trips-Viz</button>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="RiboCrypt-tab" data-bs-toggle="tab" data-bs-target="#RiboCrypt" type="button" role="tab" aria-controls="RiboCrypt" aria-selected="false">RiboCrypt</button>
                          </li> -->
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="download" role="tabpanel" aria-labelledby="download-tab">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card">
                                        <img src="{% static 'images/download.png' %}" 
                                                class="card-img-top" 
                                                alt="Stock download image"
                                                style="
                                                max-height:60%;
                                                max-width:60%;
                                                padding: 2%">
                                        <div class="card-body">
                                            <h5 class="card-title">Download All</h5>
                                            <p class="card-text">Download available collapsed read files for all samples across all panels shown below</p>
                                            <a href="{% url 'download_all' %}?current_url={{ current_url }}" class="btn btn-primary" download>Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="tab-pane fade" id="GWIPS-viz" role="tabpanel" aria-labelledby="GWIPS-viz-tab">
                            <div class="overflow-y-auto" style="max-height: 600px; overflow-x: hidden; scrollbar-width: thin;">
                                {% for genome in gwips %}
                                <br>
                                <div class="row">
                                    <h4>{{ genome.clean_organism }}</h4>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <img src="{% static 'images/GWIPS.png' %}" 
                                                class="card-img-top" 
                                                alt="Example image of a view in GWIPS-Viz"
                                                style="
                                                max-height:750px;
                                                max-width:750px;">
                                            <div class="card-body">
                                            <h5 class="card-title">Visualise</h5>
                                            <p class="card-text">Visualise selected datasets in GWIPS-Viz</p>
                                            <a href="https://gwips.ucc.ie/cgi-bin/hgTracks?db={{ genome.gwipsDB }}&{{ genome.files }}" class="btn btn-primary">Genomic View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Trips-Viz" role="tabpanel" aria-labelledby="Trips-Viz-tab">
                            <div class="overflow-y-auto" style="max-height: 600px; overflow-x: hidden; scrollbar-width: thin;">
                                {% for transcriptome in trips %}
                                <br>
                                <div class="row">
                                    <h4>{{ transcriptome.clean_organism }}</h4>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <img src="{% static 'images/single_transcript_plot.png' %}" 
                                            class="card-img-top" 
                                            alt="Example image of single transcript plot of PEG10"
                                            style="
                                            max-height:750px;
                                            max-width:750px;">
                                            <div class="card-body">
                                            <h5 class="card-title">Visualise</h5>
                                            <p class="card-text">Visualise selected datasets on a transcriptome level</p>
                                            <a href="https://trips.ucc.ie/{{ transcriptome.organism }}/{{ transcriptome.transcriptome }}/interactive_plot/?{{ transcriptome.files}}" class="btn btn-primary">Single Transcript Plot</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <img src="{% static 'images/triplet_periodicity_plot.png' %}" class="card-img-top" alt="Example image of a triplet periodicity plot"
                                            style="
                                            max-height:750px;
                                            max-width:750px;">
                                            <div class="card-body">
                                            <h5 class="card-title">Meta Information</h5>
                                            <p class="card-text">Generate plots to understand the composition of your selection.</p>
                                            <a href="https://trips.ucc.ie/{{ transcriptome.organism }}/{{ transcriptome.transcriptome }}/metainfo_plot/?{{ transcriptome.files}}" class="btn btn-primary">Meta Information Plots</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade" id="RiboCrypt" role="tabpanel" aria-labelledby="RiboCrypt-tab">
                            <div class="overflow-y-auto" style="max-height: 600px; overflow-x: hidden; scrollbar-width: thin;">

                                {% for project in ribocrypt %}
                                <div class="row">
                                    <h4>{{ project.clean_organism }}</h4>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <img src="{% static 'images/RiboCrypt.svg' %}" 
                                            class="card-img-top" 
                                            alt="Example image of a view in RiboCrypt"
                                            style="
                                            max-height:750px;
                                            max-width:750px;">
                                            <div class="card-body">
                                            <h5 class="card-title">Visualise</h5>
                                            <p class="card-text">Visualise selected datasets in RiboCrypt</p>
                                            <a href="https://ribocrypt.org/?dff={{ project.dff }}&library={{ project.files }}&go=TRUE" class="btn btn-primary">Transcriptomic View</a>
                                            <a href="https://ribocrypt.org/?dff={{ project.dff }}&library={{ project.files }}&viewMode=TRUE&go=TRUE" class="btn btn-primary">Genomic View</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="fw-body">
            <div class="content" style="padding-top: 2%;">
                <form action="{% url 'sample_select_form' %}" method="get" name="sample_select">
                    <div style="float: right;">
                        <button type="submit" class="btn btn-primary" id="metadata" name="metadata">Download Metadata</button>
                        <button type="submit" class="btn btn-primary" id="submit" name="links">Subset</button>
                    </div>
                    <h1>Selected Entries</h1>

                    <table class="table table-striped" style="width:90%;  margin-left:auto; margin-right:auto; overflow-x: auto">
                        <thead>
                            <tr>
                                <th>Run Accession</th>
                                <th>Study Accession</th>
                                <th>Organism</th>
                                <th>Library Type</th>
                                <th>GWIPS-viz</th>
                                <th>Trips-Viz</th>
                                <th>RiboCrypt</th>
                                <th>Reads</th>
                                <th>BAM</th>
                                <th>BigWig (F)</th>
                                <th>BigWig (R)</th>

                                <th style="background-color: rgba(255, 255, 255, 1);" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sample in sample_results %}
                                <tr>
                                    <td><a href="/Sample/{{ sample.Run }}">{{ sample.Run }}</a></td>
                                    <td><a href="/Study/{{ sample.BioProject }}">{{ sample.BioProject }}</a></td>
                                    <td>{{ sample.ScientificName }}</td>
                                    <td>{{ sample.LIBRARYTYPE }}</td>
                                    {% if sample.gwips_name == "Visit GWIPS-viz" %}
                                        <td><a href="{{ sample.gwips_link }}"><img src="{% static 'images/GWIPS-viz-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/GWIPS-viz-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.trips_name == "Visit Trips-Viz" %}
                                        <td><a href="{{ sample.trips_link }}"><img src="{% static 'images/Trips-Viz-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/Trips-Viz-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    <!-- {% if sample.ribocrypt_name == "Visit RiboCrypt" %}
                                        <td><a href="{{ sample.ribocrypt_link }}"><img src="{% static 'images/RiboCrypt-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/RiboCrypt-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %} -->
                                    {% if sample.reads_link != "" %}
                                        <td><a href="{{ sample.reads_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.bam_link != "" %}
                                        <td><a href="{{ sample.bam_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.bigwig_forward_link != "" %}
                                        <td><a href="{{ sample.bigwig_forward_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.bigwig_reverse_link != "" %}
                                        <td><a href="{{ sample.bigwig_reverse_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    <td style="background-color: rgba(255, 255, 255, 1);"><input type="checkbox" checked="True" name="run" value="{{ sample.Run }}"/></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if sample_results.has_previous %}
                            <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&page=1">&laquo; First</a></li>
                            <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&page={{ sample_results.previous_page_number }}">Previous</a></li>
                            {% endif %}
                            <span class="current">
                            <li class="page-item"><a class="page-link active">Page {{ sample_page_obj.number }} of {{ sample_results.paginator.num_pages }}</a></li>
                            </span>
                            {% if sample_results.has_next %}
                            <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&page={{ sample_results.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&page={{ sample_results.paginator.num_pages }}">Last &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </form>
            </div>
        </div>
        <div>
            <p> ⓘ For more Information on the columns shown here see: <a href="/about#sample-descriptions">About</a></p>
        </div>
    </section>
    </div>
{% endblock %}
