{% extends 'main/base.html' %}
{% block title %}Recode | RiboSeq Data Portal{% endblock %}
{% block content %}
    <div class="container-xl site-gutter py-5">
        <div class="alert alert-warning">
            <h1 class="h4 alert-heading">recode.ucc.ie has moved</h1>
            <p>The recode.ucc.ie website is no longer hosted here. We apologise for any inconvenience.</p>
            <hr>
            <p class="mb-0">For historical purposes you can still download the old Recode database.</p>
        </div>
        <a href="{% url 'download_recode_db' %}" class="btn btn-primary"><i class="fa fa-download me-1" aria-hidden="true"></i>Download Recode database</a>
    </div>
{% endblock %}
