{% extends 'main/base.html' %}
{% block title %}Reports{% endblock %}
{% load static %}

{% block head_static %}
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
{% include 'main/navbar.html' %}
    <section id="reports" style="padding: 2%;">
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 2%;">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="FASTQC-tab" data-bs-toggle="tab" data-bs-target="#FASTQC" type="button" role="tab" aria-controls="FASTQC" aria-selected="true">FASTQC</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="FASTP-tab" data-bs-toggle="tab" data-bs-target="#FASTP" type="button" role="tab" aria-controls="FASTP" aria-selected="false">FASTP</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="FASTQC" role="tabpanel" aria-labelledby="FASTQC-tab">
                <div id="fastp" class="tab-content">
                    <iframe src="/static2/{{fastqc}}" width="100%" height="1000"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="FASTP" role="tabpanel" aria-labelledby="FASTP-tab">
                <div id="fastqc" class="tab-content">
                    <iframe src="/static2/{{fastp}}" width="100%" height="1000"></iframe>
                </div>
            </div>
          </div>
    </section>
{% endblock %}
