{% extends 'main/base.html' %}
{% block title %}Datasets{% endblock %}
{% block content %}
{% include 'main/navbar.html' %}

{% load static %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/2.1.0/css/searchPanes.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.5.0/css/select.bootstrap5.min.css">
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link href="{% static 'css/riboseq-css.css' %}"
        rel="stylesheet"
        type="text/css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <section id="study">
        <h1>{{ Sample.Run }} (<a href="/Study/{{ Sample.BioProject }}">{{ Sample.BioProject }}</a>)</h1>
        <h4>General Details</h4>
        <p><a href="/reports/{{ Sample.Run }}" >View quality reports</a></p>
        <table class="table table-bordered" id="study-general">
            <tr>
                <th>Sample Name</th>
                <td>{{ Sample.SampleName }}</td>
            </tr>
            <tr>
                <th>Organism</th>
                <td>{{ Sample.ScientificName }}</td>
            </tr>
            <tr>
                <th>Release Date</th>
                <td>{{ Sample.MONTH }}/{{ Sample.YEAR }}</td>
            </tr>
        </table>
        <h4>Sample Links</h4>
        <table class="table table-bordered" id="study-links">
            <tr>
                <th>GWIPS-viz</th>
                <th>Trips-Viz</th>
                <th>RiboCrypt</th>
            </tr>
            <tr>
                <td><a href="{{ trips }}">{{ trips_name }}</a></td>
                <td><a href="{{ gwips }}">{{ gwips_name }}</a></td>
                <td><a href="{{ ribocrypt }}">{{ ribocrypt_name }}</a></td>
                <td><a href="{{ request.path }}/custom">Custom Track</a></td>
            </tr>
        </table> 
        <h4>Run Details</h4>
        <table class="table table-bordered" id="sample-run">
            <tr>
                <th>Spots</th>
                <td>{{ Sample.spots }}</td>
            </tr>
            <tr>
                <th>Total Bases</th>
                <td>{{ Sample.bases }}</td>
            </tr>
            <tr>
                <th>Total Bases</th>
                <td>{{ Sample.bases }}</td>
            </tr>
        </table>
        <h4>Repository Details</h4>
        <table class="table table-bordered" id="sample-repos">
            <tr>
                <th>SRA</th>
                <td><a href="https://www.ncbi.nlm.nih.gov/sra/?term={{ Sample.Run }}">{{ Sample.Run }}</a></td>
            </tr>
            <tr>
                <th>ENA</th>
                <td><a href="https://ebi.ac.uk/ena/browser/view/{{ Sample.Run }}">{{ Sample.Run}}</a></td>
            <tr>
                <th>BioProject</th>
                <td><a href="https://www.ncbi.nlm.nih.gov/bioproject/{{ Sample.BioProject }}">{{ Sample.BioProject }}</a></td>
            </tr>
        </table>
        <h4>Experiment Details</h4>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered" id="study-pub">
                    <tr>
                        <th>Title</th>
                        <td>{{ Sample.sample_title }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <h4>Sample Details</h4>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered" id="study-pub">
                    {% for field, value in ks %}
                    <tr>
                        <th>{{ field|title }}</th>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="fw-container">
            <div class="fw-header">                
                <div class="nav-wrapper">
                    <div class="nav-search">
                        <div class="nav-item i-user">
                            <div class="account"></div>
                        </div>
                    </div>
                </div>
                <div class="nav-ad">
                    <div data-ea-publisher="datatablesnet" data-ea-type="image" data-ea-manual="true"></div>
                </div>
            </div>
            <div class="fw-body">
                <div class="content">
                    <table id="samples" class="table table-striped nowrap" style="width:100%; margin-left:auto; margin-right:auto">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th>Run Accession</th>
                                <th>Study Accession</th>
                                <th>Scientific Name</th>
                                <th>Description</th>
                                <th>Cell Line</th>
                                <th>Library Type</th>
                                <th>Treatment</th>
                                <th>Trips-Viz</th>
                                <th>GWIPS-viz</th>
                                <th>RiboCrypt</th>
                                <th>Reads - Download</th>
                                <th>BAM - Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sample in ls %}
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>{{ sample.Run }}</td>
                                    <td>{{ sample.Study_Accession }}</td>
                                    <td>{{ sample.ScientificName }}</td>
                                    <td>{{ sample.sample_source }}</td>
                                    <td>{{ sample.CELL_LINE }}</td>
                                    <td>{{ sample.LIBRARYTYPE }}</td>
                                    <td>{{ sample.INHIBITOR }}</td>
                                    {% if sample.gwips_name == "Visit GWIPS-viz" %}
                                        <td><a href="{{ sample.gwips }}"><img src="{% static 'images/GWIPS-viz-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/GWIPS-viz-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.trips_name == "Visit Trips-Viz" %}
                                        <td><a href="{{ sample.trips }}"><img src="{% static 'images/Trips-Viz-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/Trips-Viz-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.ribocrypt_name == "Visit RiboCrypt" %}
                                        <td><a href="{{ sample.ribocrypt }}"><img src="{% static 'images/RiboCrypt-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/RiboCrypt-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.reads_link != "" %}
                                        <td><a href="{{ sample.reads_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.bam_link != "" %}
                                        <td><a href="{{ sample.bam_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="col"></th>
                                <th>Run Accession</th>
                                <th>Study Accession</th>
                                <th>Scientific Name</th>
                                <th>Description</th>
                                <th>Cell Line</th>
                                <th>Library Type</th>
                                <th>Treatment</th>
                                <th>Trips-Viz</th>
                                <th>GWIPS-viz</th>
                                <th>RiboCrypt</th>
                                <th>Download</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
