{% extends 'main/base.html' %}

{% block head_static %}
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>

    <script>  

        function selectAll(table_id, col) {
            var checkboxes = $(table_id).find('tbody tr td:nth-child(' + col + ') input[type="checkbox"]');

            checkboxes.each(function () {
                if ($(this).prop('checked')) {
                    $(this).prop('checked', false);
                } else {
                    $(this).prop('checked', true);
                }
            });
        }
        function updateAccordion(ulId, inputId) {
          // Get the UL element
          var ul = document.getElementById(ulId);
  
          // Get the input element
          var input = document.getElementById(inputId);
  
          // Get the filter value
          var filter = input.value.toUpperCase();
  
          // Get the list items
          var li = ul.getElementsByTagName('li');
  
          // Loop through all list items, and hide or show them based on the filter
          for (var i = 0; i < li.length; i++) {
              var a = li[i].getElementsByTagName("a")[0];
              var txtValue = a.textContent || a.innerText;
  
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
              } else {
              li[i].style.display = "none";
              }
          }
      }
      function redirectToLink(element, url, field, value) {
          // Get the current state of the toggle
          const toggleState = element.checked;
  
          // Construct the query string parameter for the toggle state
          const toggleParam = `${field}=${encodeURIComponent(value)}`;
  
          // Get the current URL parameters
          const urlParams = new URLSearchParams(window.location.search);
  
          // Update the toggle state in the URL parameters
          if (toggleState) {
              urlParams.set(field, value);
          } else {
              urlParams.delete(field);
          }
  
          // Construct the new URL with the updated toggle state
          const newURL = `${url}?${urlParams.toString()}`;
  
          // Redirect to the new URL
          window.location.href = newURL;
      }
      function checkform() {
          var checkboxes = document.querySelectorAll('input[type="checkbox"]');
          var atleastOneChecked = false;
  
          for (var i = 0; i < checkboxes.length; i++) {
              if (checkboxes[i].checked) {
                  atleastOneChecked = true;
                  break;
              }
          }
          document.getElementById('submit').disabled = !atleastOneChecked;
      }
  
      window.onload = checkform;
      </script>

{% endblock %}
{% block content %}
{% include 'main/navbar.html' %}

    <div class="container">
        <form method="GET" action="{% url 'search' %}" id="results-searchbar">
            {{ search_form.as_p }}
            <button class="btn btn-outline-primary" type="submit" id="search-button">Submit</button>
        </form>
    </div>
    <br>
    <div>
        <section id="search_results" style="padding-left: 2%;">
            <h1>Search Results</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active btn-bigger" id="studies-tab" data-bs-toggle="tab" data-bs-target="#studies-tab-target" type="button" role="tab" aria-controls="studies-tab-target" aria-selected="false">Studies</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-bigger" id="samples-tab" data-bs-toggle="tab" data-bs-target="#samples-tab-target" type="button" role="tab" aria-controls="samples-tab-target" aria-selected="true">Samples</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="studies-tab-target" role="tabpanel" aria-labelledby="studies-tab">
                    <div class="col-md-9 order-2">
                        <div class="fw-container" id="study-container">
                            <div class="fw-header">
                                <div class="nav-wrapper">
                                    <div class="nav-search">
                                        <div class="nav-item i-user">
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-ad">
                                    <div data-ea-publisher="datatablesnet" data-ea-type="image" data-ea-manual="true"></div>
                                </div>
                            </div>
                            <div class="fw-body">
                                <div class="content">
                                    <form action="{% url 'links' %}" method="get">
                                        <div class="table-responsive">
                                            <table id="studies-table" class="table" style="width:90%; margin-left:auto; margin-right:auto; overflow-x: auto">
                                                <thead>
                                                <tr>
                                                    <th class="table-row">Name</th>
                                                    <th class="table-row">BioProject</th>
                                                    <th class="table-row">Organism</th>
                                                    <th class="table-row"># Samples</th>
                                                    <th class="table-row">ENA</th>
                                                    <th class="table-row">SRA</th>
                                                    <th class="table-row" scope="col">Select</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for study in study_results %}
                                                    <tr>
                                                    <td class="table-row"><a href="/Study/{{ study.BioProject }}">{{ study.Name }}</a></td>
                                                    <td class="table-row"><a href="https://www.ncbi.nlm.nih.gov/bioproject/?term={{ study.BioProject }}">{{ study.BioProject }}</a></td>
                                                    <td class="table-row">{{ study.Organism }}</td>
                                                    <td class="table-row">{{ study.Samples }}</td>
                                                    <td class="table-row"><a href="https://ebi.ac.uk/ena/browser/view/{{ study.SRA }}">{{ study.SRA }}</a></td>
                                                    <td class="table-row"><a href="https://www.ncbi.nlm.nih.gov/sra/?term={{ study.SRA }}">{{ study.SRA }}</a></td>
                                                    <td class="table-row"><input type="checkbox" name="bioproject" value="{{ study.BioProject }}"/></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th class="table-row">Name</th>
                                                    <th class="table-row">BioProject</th>
                                                    <th class="table-row">Organism</th>
                                                    <th class="table-row"># Samples</th>
                                                    <th class="table-row">ENA</th>
                                                    <th class="table-row">SRA</th>
                                                    <th class="table-row" scope="col">Select</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                            {% if study_results.has_previous %}
                                                <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&study_page=1">&laquo; First</a></li>
                                                <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&study_page={{ study_results.previous_page_number }}">Previous</a></li>
                                            {% endif %}
                                            <span class="current">
                                                <li class="page-item"><a class="page-link active">Page {{ study_results.number }} of {{ study_results.paginator.num_pages }}</a></li>
                                            </span>
                                            {% if study_results.has_next %}
                                                <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&study_page={{ study_results.next_page_number }}">Next</a></li>
                                                <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&study_page={{ study_results.paginator.num_pages }}">Last &raquo;</a></li>
                                            {% endif %}
                                            <li class="button-item">
                                                <button type="button" class="btn btn-secondary" onclick="selectAll('#studies-table', 7); checkform()">Select All</button>
                                                <button type="submit" class="btn btn-secondary" name="query" value="{{ request.GET.urlencode }}">Select All - All Views</button>
                                                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                                            </li>
                                            </ul>
                                        </nav>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="samples-tab-target" role="tabpanel" aria-labelledby="samples-tab">
                    <div class="col-md-9 order-2">
                        <div class="fw-container" id="sample-container">
                            <div class="fw-header">
                                <div class="nav-wrapper">
                                    <div class="nav-search">
                                        <div class="nav-item i-user">
                                            <div class="account"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-ad">
                                    <div data-ea-publisher="datatablesnet" data-ea-type="image" data-ea-manual="true"></div>
                                </div>
                            </div>
                            <div class="fw-body">
                                <div class="content">
                                    <form action="{% url 'links' %}" method="get" name="sample_select">
                                        <table id="samples-table" class="table table-striped" style="width:90%;  margin-left:auto; margin-right:auto; overflow-x: clip">
                                            <thead>
                                                <tr>
                                                    <th class="table-row">Run Accession</th>
                                                    <th class="table-row">Study Accession</th>
                                                    <th class="table-row">Organism</th>
                                                    <th class="table-row">Library Type</th>
                                                    <th class="table-row">Inhibitor</th>
                                                    <th class="table-row" scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for sample in sample_results %}
                                                <tr style="word-wrap: break-word;">
                                                    <td class="table-row"><a href="/Sample/{{ sample.Run }}">{{ sample.Run }}</a></td>
                                                    <td class="table-row"><a href="/Study/{{ sample.BioProject_id }}">{{ sample.BioProject_id }}</a></td>
                                                    <td class="table-row">{{ sample.ScientificName }}</td>
                                                    <td class="table-row">{{ sample.LIBRARYTYPE }}</td>
                                                    <td class="table-row">{{ sample.INHIBITOR }}</td>
                                                    <td class="table-row"><input type="checkbox" name="run" value="{{ sample.Run }}" onchange="checkform()"/></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th class="table-row">Run Accession</th>
                                                    <th class="table-row">Study Accession</th>
                                                    <th class="table-row">Scientific Name</th>
                                                    <th class="table-row">Library Type</th>
                                                    <th class="table-row">Inhibitor</th>
                                                    <th class="table-row" scope="col"></th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                {% if sample_results.has_previous %}
                                                <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&sample_page=1">&laquo; First</a></li>
                                                <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&sample_page={{ sample_results.previous_page_number }}">Previous</a></li>
                                                {% endif %}
                                                <span class="current">
                                                <li class="page-item"><a class="page-link active">Page {{ sample_results.number }} of {{ sample_results.paginator.num_pages }}</a></li>
                                                </span>
                                                {% if sample_results.has_next %}
                                                <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&sample_page={{ sample_results.next_page_number }}">Next</a></li>
                                                <li class="page-item"><a class="page-link" href="{{ url }}?{{ request.GET.urlencode }}&sample_page={{ sample_results.paginator.num_pages }}">Last &raquo;</a></li>
                                                {% endif %}
                                                <li class="button-item">
                                                <button type="button" class="btn btn-secondary" onclick="selectAll('#samples-table', 6); checkform()">Select All - Current View</button>
                                                <button type="submit" class="btn btn-secondary" name="query" value="{{ request.GET.urlencode }}">Select All - All Views</button>
                                                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                                                </li>
                                            </ul>
                                        </nav>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
