{% extends 'main/base.html' %}
{% block title %}Datasets{% endblock %}
{% block content %}
{% include 'main/navbar.html' %}

{% load static %}
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>

    <section id="study">
        <h1>{{ Study.Name }} ({{ Study.BioProject }})</h1>
        <h4>General Details</h4>
        <table class="table table-bordered" id="study-general">
            <tr>
                <th>Title</th>
                <td>{{ Study.Title }}</td>
            </tr>
            <tr>
                <th>Organism</th>
                <td>{{ Study.Organism }}</td>
            </tr>
            <tr>
                <th>Number of Samples</th>
                <td>{{ Study.Samples }}</td>
            </tr>
            <tr>
                <th>Release Date</th>
                <td>{{ Study.Release_Date }}</td>
            </tr>
            <tr>
                <th>Sequencing Types</th>
                <td>{{ Study.seq_types }}</td>
            </tr>
            <tr>
                <th>Protocol Details</th>
                <td>{{ Study.All_protocols }}</td>
            </tr>
        </table>
        <h4>Study Links</h4>
        <table class="table table-bordered" id="study-links">
            <tr>
                <th>GWIPS-viz</th>
                <th>Trips-Viz</th>
                <th>RiboCrypt</th>
            </tr>
            <tr>
                <td><a href="{{ bioproject_gwips_link }}">{{ bioproject_gwips_name }}</a></td>
                <td><a href="{{ bioproject_trips_link }}">{{ bioproject_trips_name }}</a></td>
                <td><a href="{{ bioproject_ribocrypt_link }}">{{ bioproject_ribocrypt_name }}</a></td>
            </tr>
        </table> 
        <h4>Repository Details</h4>
        <table class="table table-bordered" id="study-repos">
            <tr>
                <th>SRA</th>
                <td><a href="https://www.ncbi.nlm.nih.gov/sra/?term={{ Study.SRA }}">{{ Study.SRA }}</a></td>
            </tr>
            <tr>
                <th>ENA</th>
                <td><a href="https://ebi.ac.uk/ena/browser/view/{{ Study.SRA }}">{{ Study.SRA}}</a></td>
            <tr>
                <th>GEO</th>
                <td><a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc={{ Study.GSE }}">{{ Study.GSE }}</a></td>
            </tr>
            <tr>
                <th>BioProject</th>
                <td><a href="https://www.ncbi.nlm.nih.gov/bioproject/{{ Study.BioProject }}">{{ Study.BioProject }}</a></td>
            </tr>
        </table>
        <h4>Publication</h4>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered" id="study-pub">
                    <tr>
                        <th>Title</th>
                        <td>{{ Study.Publication_Title }}</td>
                    </tr>
                    <tr>
                        <th>Authors</th>
                        <td>{{ Study.Authors }}</td>
                    </tr>
                    <tr>
                        <th>Journal</th>
                        <td>{{ Study.Journal }}</td>
                    </tr>
                    <tr>
                        <th> Publication Date</th>
                        <td>{{ Study.Date_published }}</td>
                    </tr>
                    <tr>
                        <th> Abstract</th>
                        <td>{{ Study.Paper_abstract }}</td>
                    </tr>
                    <tr>
                        <th>PMC</th>
                        <td><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{ Study.PMC }}">{{ Study.PMC }}</a></td>
                    <tr>
                        <th>PMID</th>
                        {% if Study.PMID != "<NA>" %}
                            <td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ Study.PMID }}">{{ Study.PMID }}</a></td>
                        {% else %}
                            <td>None Available</a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>DOI</th>
                        <td><a href="https://doi.org/{{ Study.DOI }}">{{ Study.DOI }}</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="fw-container">
            <div class="fw-header">                
                <div class="nav-wrapper">
                    <div class="nav-search">
                        <div class="nav-item i-user">
                            <div class="account"></div>
                        </div>
                    </div>
                </div>
                <div class="nav-ad">
                    <div data-ea-publisher="datatablesnet" data-ea-type="image" data-ea-manual="true"></div>
                </div>
            </div>
            <div class="fw-body">
                <div class="content">
                    <table id="samples" class="table table-striped" style="width:100%; margin-left:auto; margin-right:auto">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th>Run Accession</th>
                                <th>Study Accession</th>
                                <th>Scientific Name</th>
                                <th>Cell Line</th>
                                <th>Library Type</th>
                                <th>Treatment</th>
                                <th>GWIPS-viz</th>
                                <th>Trips-Viz</th>
                                <th>RiboCrypt</th>
                                <th>Reads</th>
                                <th>BAM</th>
                                <th>BigWig (F)</th>
                                <th>BigWig (R)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sample in ls %}
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td><a href="/Sample/{{ sample.Run }}">{{ sample.Run }}</a></td>
                                    <td><a href="/Study/{{ sample.BioProject_id }}">{{ sample.BioProject_id }}</a></td>
                                    <td>{{ sample.ScientificName }}</td>
                                    <td>{{ sample.CELL_LINE }}</td>
                                    <td>{{ sample.LIBRARYTYPE }}</td>
                                    <td>{{ sample.INHIBITOR }}</td>
                                    {% if sample.gwips_name == "Visit GWIPS-viz" %}
                                        <td><a href="{{ sample.gwips_link }}"><img src="{% static 'images/GWIPS-viz-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/GWIPS-viz-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.trips_name == "Visit Trips-Viz" %}
                                        <td><a href="{{ sample.trips_link }}"><img src="{% static 'images/Trips-Viz-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/Trips-Viz-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.ribocrypt_name == "Visit RiboCrypt" %}
                                        <td><a href="{{ sample.ribocrypt_link }}"><img src="{% static 'images/RiboCrypt-Potato.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/RiboCrypt-Potato-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.reads_link != "" %}
                                        <td><a href="{{ sample.reads_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.bam_link != "" %}
                                        <td><a href="{{ sample.bam_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.bigwig_forward_link != "" %}
                                        <td><a href="{{ sample.bigwig_forward_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    {% if sample.bigwig_reverse_link != "" %}
                                        <td><a href="{{ sample.bigwig_reverse_link }}"><img src="{% static 'images/download.png' %}" style="max-height:50px; max-width:50px;"></a></td>
                                    {% else %}
                                        <td><img src="{% static 'images/download-Greyscale.png' %}" style="max-height:50px; max-width:50px;"></td>
                                    {% endif %}
                                    <td style="background-color: rgba(255, 255, 255, 1);"><input type="checkbox" checked="True" name="run" value="{{ sample.Run }}"/></td>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="col"></th>
                                <th>Run Accession</th>
                                <th>Study Accession</th>
                                <th>Scientific Name</th>
                                <th>Cell Line</th>
                                <th>Library Type</th>
                                <th>Treatment</th>
                                <th>GWIPS-viz</th>
                                <th>Trips-Viz</th>
                                <th>RiboCrypt</th>
                                <th>Reads</th>
                                <th>BAM</th>
                                <th>BigWig (F)</th>
                                <th>BigWig (R)</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <p> ⓘ For more Information on the columns shown here see: <a href="/about#study-descriptions">About</a></p>
        </div>
    </section>
{% endblock %}
