{% extends 'main/base.html' %}
{% block title %}Controlled vocabularies | RiboSeq Data Portal{% endblock %}
{% block content %}
    <div class="container-xl site-gutter">
        <div class="page-header d-flex flex-wrap justify-content-between align-items-end gap-3">
            <div>
                <h1>Controlled vocabularies</h1>
                <p class="lead">The vocabularies used to clean the metadata in the RiboSeq Data Portal.</p>
            </div>
            <div class="d-flex flex-wrap align-items-center gap-2">
                <a href="https://doi.org/10.5281/zenodo.13890118">
                    <img src="https://zenodo.org/badge/DOI/10.5281/zenodo.13890118.svg" alt="DOI: 10.5281/zenodo.13890118">
                </a>
                <a href="https://docs.google.com/spreadsheets/d/1P9otyhFHY-BTkP8F7mUQS4ukx0f2juIeAGXDrFSPJxY/edit?usp=sharing"
                   class="btn btn-sm btn-outline-primary"><i class="fa fa-arrow-up-right-from-square me-1" aria-hidden="true"></i>Open in Google Sheets</a>
            </div>
        </div>
        <div class="ratio" style="--bs-aspect-ratio: 70%;">
            <iframe src="https://docs.google.com/spreadsheets/d/1P9otyhFHY-BTkP8F7mUQS4ukx0f2juIeAGXDrFSPJxY/edit?usp=sharing"
                    title="Controlled vocabularies spreadsheet"
                    class="border rounded"
                    loading="lazy"></iframe>
        </div>
    </div>
{% endblock %}
