asgiref
backports.zoneinfo
biopython
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
cssbeautifier
Django
django-crispy-forms
django-datatables-view
django-filter
djlint
EditorConfig
idna
jsbeautifier
numpy
pandas
pathspec
python-dateutil
pytz
PyYAML
regex
requests
six
sqlparse
tomli
tqdm
urllib3
xmltodict
