@charset "utf-8";

.riboseqorg {
	background-color: #f4eae0;
	background-image: url(../images/150617-1415-page-background.jpg);
	background-repeat: repeat-x;
   padding-top: 1%;
   padding-bottom: 1%;
   display: flex;
   justify-content: center;
}

.nav-link {
   font-size: 120%;
}
a {
   text-decoration: none;
   outline: 0;
}

a:hover, a:focus, a:visited {
   outline: 0;
   text-decoration: none;
}

img {
   border: 0;
   outline: 0;
}
#database {
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 1%;
}
#samples td {
   background-color: white
}
#samples th {
   background-color: rgba(white, 1)
}
nav button {
   display: inline-block;
}
th, td { 
   white-space: nowrap; 
}
#study {
   width: 90%;
   padding-left: 5%;
   padding-right: 5%;
   display: inline-block;
   word-break: break-word;

}
#study table {
   word-break: break-word;
   white-space: nowrap; 
   width: 100%;
}

#study table td {
   overflow-wrap: break-word;
   word-wrap: break-word;
   
   -ms-word-break: break-all;
   /* This is the dangerous one in WebKit, as it breaks things wherever */
   word-break: break-all;
   /* Instead use this non-standard one: */
   word-break: break-word;
   
   /* Adds a hyphen where the word breaks, if supported (No Blink) */
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

.search-container {
   display: flex;
   justify-content: right;
   padding-right: 5%;
   width: 100%;
}

#searchbar {
   width: 100%;
   justify-content: right;
}

#results-searchbar {
   width: 100%;
   justify-content: right;
}

.container form  {
   padding-top: 2%;
}
#study-pub {
   word-wrap: break-word;
   width: 80%;
}


.collapse_filter {
   text-decoration: none;
   font-family: sans-serif;
   font-size: 1.5rem;
   color: #222;
}

#side-panel-collapse {
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
   max-width: 2000px;
  background-color: #fff;
  z-index: 1000;
  padding: 0px;
  transition: transform 0.3s ease-in-out;
  float: left;
}

 .col-md-9 {
   width: calc(100% - 250px);
   float: right;
 }

